.DS_Store
node_modules/
/dist/
www/
.eslintignore
.eslintrc.js
.editorconfig
npm-debug.log*
yarn-debug.log*
yarn-error.log*
rawAlphabets/
app-release-zip.apk
linguisti.keystore
linguisti.keystore.old
platforms/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
